/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  /*padding-bottom: 3rem;*/
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/*para el tamaño de las imagenes*/
.formatoimagen {
  width: 100%;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
/* rtl:end:ignore */


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -.05rem;
}
/*borde letras*/
.texto-borde-negro {
  -webkit-text-fill-color: yellowgreen;
    -webkit-text-stroke: 1px black; 
}
.texto-borde-blanco {
 -webkit-text-fill-color: yellowgreen;
    -webkit-text-stroke: 1px black; 
}
.texto-borde-boton {
  -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px white; 
}


/*Oscurecer imagen para que las letras se vean bien*/
.oscurecer-img{
    filter: brightness(40%); 
}

.oscurecer-img-staff{
    filter: brightness(70%); 
}


/*
font-weight: normal;*/
.letra-negrita{
font-weight: bold;
color: white;

}
/* Relativo al padre */
/*font-weight: lighter;
font-weight: bolder;
 
font-weight: 100;
font-weight: 200;
font-weight: 300;
font-weight: 400;
font-weight: 500;
font-weight: 600;
font-weight: 700;
font-weight: 800;
font-weight: 900;*/
 
/* Valores globales */
/*font-weight: inherit;
font-weight: initial;
font-weight: unset;
*/

/*fondo mas opaco
El fondo rojo esta en el CSS formulario en la linea 181*/
.bg-gra-02 {
    background: -webkit-gradient(linear, left bottom, left top, from(#fbd9c2), to(#d19a8c)) !important;
    background: -webkit-linear-gradient(bottom, #fbd9c2 0%, #d19a8c 100%);
    background: -moz-linear-gradient(bottom, #fbd9c2 0%, #d19a8c 100%);
    background: -o-linear-gradient(bottom, #fbd9c2 0%, #d19a8c 100%);
    background: linear-gradient(to top, #fbd9c2 0%, #d19a8c 100%);   
}

/*Fer IMAGEN */
.index-usuario {
    background-image: url(../img/usuario-card-index.jpg);
    background-position: left 25% center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 33%;
    height: 200px;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
/*media queres para pantalla cel*/
@media (max-width: 375px) {
  .formatoimagen {
    width: 100vw;
  }
}
